
h1,h2,h3,h4{
    margin-top:auto;
}
html {
    font-size:18px;
    font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
}
body{
    font-size: 1rem;
}
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Quicksand', sans-serif;
}
