@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@charset "UTF-8";
h1, h2, h3, h4 {
  margin-top: auto; }

html {
  font-size: 18px;
  font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif; }

body {
  font-size: 1rem; }

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Quicksand', sans-serif; }

/* colors */
.u-text-white {
  color: white; }

.u-color-dark-1, .c-pest-list {
  color: black; }

.u-color-light-1, .c-splash-section .splash-inner-container, .c-why-choose-us {
  color: white; }

.u-color-brand-1 {
  color: #4a0000; }

.u-color-green {
  color: #33b133; }

.u-secondary-color {
  color: #31aaff; }

.u-color-black {
  color: #1b2b33; }

.u-bg-light-1 {
  background-color: #fff; }

.u-bg-light-3 {
  background-color: #e8f2fb; }

.u-bg-light-4 {
  background-color: #fffaefb8; }

.u-bg-dark-1 {
  background-color: #561e1e; }

.u-bg-dark-2 {
  background-color: #4a0000; }

.u-bg-dark-3 {
  background-image: url("/projects/pest//public/images/clean-kitchen.jpg");
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.u-bg-dark-4 {
  background-color: #E0E0E0; }

.u-bg-overlay-dark {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%; }

.u-bg-overlay-light {
  background-color: rgba(255, 255, 255, 0.5); }

.u-bg-overlay-medium, .c-splash-section .splash-inner-container {
  background-color: rgba(37, 37, 37, 0.78);
  width: 100%; }

/* dimensions */
.u-height-inherit {
  height: inherit; }

.u-height-100pc {
  height: 100%; }

.u-height-100vh {
  height: 100vh; }

.u-width-100pc {
  width: 100%; }

.u-height-100px {
  height: 100px; }

.u-max-width-l {
  max-width: 80em; }

.u-max-width-xl {
  max-width: 100em; }

/* responsive */
.u-md-show {
  display: none; }

.u-md-cloak {
  visibility: inherit; }

.u-sm-hide {
  display: block; }

.u-sm-show {
  display: none; }

.u-show {
  display: block; }

.u-sm-center, .c-header .logo-image {
  margin-left: auto;
  margin-right: auto; }

.u-sm-text-center {
  text-align: center; }

@media screen and (min-width: 35.5em) {
  .u-sm-hide {
    display: none; }
  .u-sm-show {
    display: block; } }

@media screen and (min-width: 48em) {
  .u-md-show {
    display: block; }
  .u-sm-text-center {
    text-align: inherit; }
  .u-md-cloak {
    visibility: hidden; }
  .u-md-hide {
    display: none; }
  .u-sm-center, .c-header .logo-image {
    margin-left: inherit;
    margin-right: inherit; } }

/* paddings and margins */
.u-padding-right-s {
  padding-right: 1rem; }

.u-padding-horizontal-s, .c-header, .c-splash-section .splash-margins, .c-pest-list, .c-cta-phone-strip, .c-areas-we-cover, .c-why-choose-us, .c-footer {
  padding-left: 1rem;
  padding-right: 1rem; }

.u-padding-horizontal-m {
  padding-left: 2rem;
  padding-right: 2rem; }

.u-padding-vertical-s, .c-splash-section .splash-margins, .c-splash-section .splash-inner-container, .c-cta-phone-strip {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.u-padding-vertical-m, .c-header {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.u-padding-vertical-l, .c-pest-list, .c-areas-we-cover, .c-footer {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.u-padding-vertical-xl, .c-why-choose-us {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.u-padding-bottom-s {
  padding-bottom: 1rem; }

.u-padding-bottom-s {
  padding-bottom: 1rem; }

.u-margin-vertical-auto {
  margin-top: auto;
  margin-bottom: auto; }

.margin-vertical-m {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.u-margin-top-s {
  margin-top: 0.5rem; }

.u-margin-top-m {
  margin-top: 1rem; }

.u-margin-top-l {
  margin-top: 2rem; }

.u-margin-top-xl, .u-margin-top-bottom-xl {
  margin-top: 4rem; }

.u-margin-bottom-xl, .u-margin-top-bottom-xl {
  margin-bottom: 4rem; }

.u-margin-right-m {
  padding-right: 2rem; }

.u-margin-page, .c-header, .c-splash-section .splash-margins, .c-pest-list, .c-cta-phone-strip, .c-areas-we-cover, .c-why-choose-us, .c-footer {
  max-width: 1080px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }

.u-no-margin {
  margin: 0; }

.u-margin-side-auto {
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 35.5em) {
  .u-margin-top-s {
    margin-top: 1rem; }
  .u-margin-top-m {
    margin-top: 2rem; }
  .u-margin-top-l {
    margin-top: 4rem; }
  .u-md-margin-center {
    margin-left: auto;
    margin-right: auto; } }

.u-remove-list-style, .u-list-item-check, .c-pest-list .pest-list-item, .c-areas-we-cover .area-list-item, .u-list-item-ant, .c-splash-section .splash-list-item-4, .u-list-item-mouse, .c-splash-section .splash-list-item-1, .u-list-item-rat, .c-splash-section .splash-list-item-3, .u-list-item-bug, .c-splash-section .splash-list-item-2 {
  list-style: none;
  text-indent: -12px; }
  .u-remove-list-style:before, .u-list-item-check:before, .c-pest-list .pest-list-item:before, .c-areas-we-cover .area-list-item:before, .u-list-item-ant:before, .c-splash-section .splash-list-item-4:before, .u-list-item-mouse:before, .c-splash-section .splash-list-item-1:before, .u-list-item-rat:before, .c-splash-section .splash-list-item-3:before, .u-list-item-bug:before, .c-splash-section .splash-list-item-2:before {
    padding-right: 4px; }

.u-ul-padding-reset {
  padding-inline-start: 0.5rem; }

.u-list-item-check:before, .c-pest-list .pest-list-item:before, .c-areas-we-cover .area-list-item:before {
  color: #33b133;
  content: '\2714'; }

.u-list-item-ant:before, .c-splash-section .splash-list-item-4:before {
  content: '\1F41C'; }

.u-list-item-mouse:before, .c-splash-section .splash-list-item-1:before {
  content: '\1F42D'; }

.u-list-item-rat:before, .c-splash-section .splash-list-item-3:before {
  content: '\1F400'; }

.u-list-item-bug:before, .c-splash-section .splash-list-item-2:before {
  content: '\1F41E'; }

/* text */
.u-heading-m {
  font-size: 1.5rem; }

.u-heading-l {
  font-size: 2rem; }

.u-font-size-s, .c-footer {
  font-size: 0.75rem; }

.u-font-size-medium {
  font-size: 1rem; }

.u-font-size-l, .c-header {
  font-size: 1.25rem; }

.u-font-size-xlarge {
  font-size: 1.5rem; }

.u-font-size-xxlarge {
  font-size: 1.75rem; }

.u-font-size-xxxlarge {
  font-size: 2rem; }

.u-header-spacing {
  letter-spacing: 0.1em; }

.u-uppercase {
  text-transform: uppercase; }

.u-text-center {
  text-align: center; }

.u-font-lato, .u-text-lato {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

.u-font-weight-light, .u-text-lato {
  font-weight: 300; }

.u-font-bold {
  font-weight: 700; }

.u-text-underline {
  text-decoration: underline; }

.u-text-decoration-none {
  text-decoration: none; }

@media screen and (min-width: 64em) {
  .u-font-size-medium {
    font-size: 1.2rem; }
  .u-font-size-large {
    font-size: 1.3rem; }
  .u-font-size-xlarge {
    font-size: 1.6rem; } }

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.u-columns-2 {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2; }

/* positioning */
.u-right {
  float: right; }

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.u-flex-v-center {
  display: flex;
  align-items: center; }

.u-transform-v-center {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%); }

.u-display-inline-block-vertical-centre {
  display: inline-block;
  vertical-align: middle; }

.u-box-shadow {
  box-shadow: 0 7px 15px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 7px 15px 3px rgba(0, 0, 0, 0.1); }

/* resets */
.u-text-decoration-reset {
  text-decoration: none; }

.u-color-reset {
  color: inherit; }

body {
  font-size: 16px; }

.phone-number {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  color: inherit;
  text-decoration: inherit; }

.c-header {
  font-weight: bold; }
  .c-header .logo-image {
    display: block;
    max-width: 70%;
    height: auto; }
  .c-header .times-available {
    text-align: right;
    width: 100%; }

.c-splash-section {
  background-image: url("/projects/pest//public/images/wasp-hive.jpg");
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold; }
  .c-splash-section .splash-inner-container {
    max-width: 480px;
    box-sizing: border-box;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden; }

.c-pest-list {
  font-weight: bold; }

.c-cta-phone-strip {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center; }
  .c-cta-phone-strip .extra-info {
    float: left; }

@media screen and (min-width: 48em) {
  .phone-number-container {
    text-align: right; } }

.c-areas-we-cover {
  text-align: center;
  font-weight: bold; }
  .c-areas-we-cover .area-paragraph {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto; }
  .c-areas-we-cover .area-map-img {
    display: block;
    max-width: 460px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }

@media screen and (min-width: 48em) {
  .c-areas-we-cover {
    text-align: left; }
    .c-areas-we-cover .area-paragraph {
      margin-left: inherit;
      margin-right: inherit; }
    .c-areas-we-cover .phone-number-container {
      text-align: right; } }

.c-why-choose-us {
  box-sizing: border-box;
  font-weight: bold; }

@media screen and (min-width: 48em) {
  .c-why-choose-us .feature-list {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    padding-inline-start: 1rem; } }

h1, h2, h3, h4 {
  margin-top: auto; }

html {
  font-size: 18px;
  font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif; }

body {
  font-size: 1rem; }

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Quicksand', sans-serif; }

