/* dimensions */
.u-height-inherit {
    height: inherit;
  }
  
  .u-height-100pc {
    height: 100%;
  }
  
  .u-height-100vh {
    height: 100vh;
  }
  
  .u-width-100pc {
    width: 100%;
  }
  
  .u-height-100px {
    height: 100px;
  }
  
  .u-max-width-l {
    max-width: 80em;
  }
  
  .u-max-width-xl {
    max-width: 100em;
  }
  