$imagesPath : '/public/images/';
// $waspUrl:  '~../../public/images/wasp-hive.jpg';

$text-color-header: #ff855c;
$text-color-primary: #1b2b33;
$text-color-secondary: #31aaff;
$text-color-tertiary: #ff855c;

$text-color-light-1 : white;
$text-color-light-2: rgb(233, 233, 233);

$text-color-dark-1: rgb(8, 4, 4);
$text-color-dark-2: rgb(37, 27, 27);

$color-brand-1: #4a0000; 
$color-green:#33b133;

$bg-color-light-1: #fff;
$bg-color-light-2: #f5f5f5;
$bg-color-light-3: #e8f2fb;
$bg-color-light-4:  #fffaefb8;
// $bg-color-light-4:  #fff2d2b8;

$bg-color-dark-1: #561e1e;
$bg-color-dark-2: #4a0000;
// $bg-color-dark-1: #40C381;
// $bg-color-dark-2: #6BB292;
// $bg-color-dark-1: #155E17;
// $bg-color-dark-2: #40763F;

$padding-s: 1rem;
$padding-m: 2rem;
$padding-l: 3rem;
$padding-xl: 4rem;

$margin-s: 0.5rem;
$margin-m: 1rem;
$margin-l: 2rem;
$margin-xl: 4rem;